.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}
	
	.marker-cluster-blue {
	background-color: rgba(51,133,255, 0.6);
	}
	
	
	
	.marker-cluster-blue div {
	background-color: rgba(0,102,255,0.6);
	}
	
	.marker-cluster-green div{
	background-color: rgba(0,153,0, 0.6);
	}
	
	.marker-cluster-green {
	background-color: rgba(50,173,50,0.6);
	}
	
		.marker-cluster-fuscha div{
	background-color: rgba(184,0,184, 0.6);
	}
	
	.marker-cluster-fuscha {
	background-color: rgba(198,50,198,0.6);
	}
	
			.marker-cluster-teal div{
	background-color: rgba(51,204,255, 0.6);
	}
	
	.marker-cluster-teal {
	background-color: rgba(112,219,255,0.6);
	}
	 	
	.marker-cluster-pink div{
	background-color: rgba(255,117,163, 0.6);
	}
	
	.marker-cluster-pink {
	background-color: rgba(255,158,190,0.6);
	}
	
	.marker-cluster-black div{
	background-color: rgba(0,0,0, 0.6);
	color: #FFFFFF;
	}
	
	.marker-cluster-black {
	background-color: rgba(25,25,25,0.6);
	}
		.marker-cluster-red{
	background-color: rgba(255,0,0, 0.6);
	}
	.marker-cluster-red div {
	background-color: rgba(255,0,0, 0.6);
	}
	
	.marker-cluster-yellow{
	background-color: rgba(255,255,51, 0.6);
	}
	.marker-cluster-yellow div {
	background-color: rgba(255,255,125, 0.6);
	}			
	
	.marker-cluster-brown div{
	background-color: rgba(153,102,51, 0.6);
	}
	.marker-cluster-brown {
	background-color: rgba(183,147,112, 0.6);
	}
	
	.marker-cluster-purple div{
	background-color: rgba(153,0,204, 0.6);
	}
	.marker-cluster-purple  {
	background-color: rgba(183,76,219, 0.6);
	}

	.marker-cluster-ochre div{
	background-color: rgba(181,172,40, 0.6);
	}
	.marker-cluster-ochre  {
	background-color: rgba(196,190,102, 0.6);
	}



	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}